@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 4rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    padding-top: 0%;
    height: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .nav-links {
    display: flex;
    flex-direction: row; /* Cambia la dirección a horizontal */
  }
}


@media screen and (max-width: 1200px) {
  

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    
    margin: 40px;
    height: 90%;
    
    
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .contact-info-container-upper-container {
    width: 80%; /* ajusta el ancho según sea necesario */
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 0.70rem;
  }
  .contact-info-container{
    width: 90%;
    padding: 2px;
    margin: 5px;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
    
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align:inherit;
  }
  .arrow_up{
    display: none;    
  }
  .submit-button{
    width: 100%;
  }
  .menu-links {
    background: #417ff5;
    top: 0;
    width: 200px;
    
  }
  .form-style-1{
    padding: 10px 10px 10px 10px;
  }
  .menu-links.open{
    z-index: 9999;
  }
  .btn.btn-color-1{
    animation: fadeInRight 2s ease 0s 1 normal forwards;
  }
  .btn.btn-color-2{
    animation: fadeIn 2s ease 0s 1 normal forwards;
  }
  .about-details-container{
    margin-top: 32px;
  }
  .contact-info-upper-container{
    margin-top: 32px;
  }
  #about{
    padding-top: 0;
  }
}
